.cart_container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 390px;
    left: 10%;
}
.cart_item{
    hyphens: manual;
    grid-template-columns: 100px 290px;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    display: inline-block;
}
.cart_img{
    border-radius: 10px;
    max-width: 100px;
    float: left;
}
.cart_title{
    display: inline-block;
    margin-left: 5px;
    margin-top: 10px;
    text-align: left;
    justify-content: space-around;
}
#cart_candles_btn1{
    font-size: 14px;
    transition: background .2s linear;
}
#cart_candles_min_btn1{
    font-size: 14px;
    transition: background .2s linear;
}
.cart_item_price{
    display: flex;
    align-items: flex-end;
}
#item1{
    display: none;
}
#item2{
    display: none;
}
#item3{
    display: none;
}
#item4{
    display: none;
}
#item5{
    display: none;
}
#item6{
    display: none;
}
#item7{
    display: none;
}
#item8{
    display: none;
}
#item9{
    display: none;
}
#item10{
    display: none;
}
#item11{
    display: none;
}
#item12{
    display: none;
}
#item13{
    display: none;
}
#item14{
    display: none;
}
#item15{
    display: none;
}
#item16{
    display: none;
}
#item17{
    display: none;
}
#item18{
    display: none;
}
#item19{
    display: none;
}
#item20{
    display: none;
}

