/*@font-face {*/
/*    font-family: montseral-f;*/
/*    src: url('../fonts/Montserrat-Thin.eot');*/
/*    src: local('Montserrat Thin'), local('Montserrat-Thin'),*/
/*    url('../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),*/
/*    url('../fonts/Montserrat-Thin.woff') format('woff'),*/
/*    url('../fonts/Montserrat-Thin.ttf') format('truetype');*/
/*    font-style: normal;*/
/*}*/
@font-face {
    font-family: NotoSansSC;
    src: url('../fonts/NotoSansSC-Thin.otf');
    font-style: normal;
}
body {
    font-size: 24px;
    font-family: NotoSansSC, sans-serif;
    font-variant: small-caps;
    font-weight: 100;
    background-color: #222021;
}

.container {
    color: white;
    margin-top: 15vh;
}

.container > div {
    background-color: #983b45;
    margin-bottom: 1vh;
    margin-top: 1vh;
    color: white;
    border-radius: 10px;
    width: 98vw;
}

.content {
    color: white;
}

a {
    color: white;
    text-decoration: none
}

ol {
    display: flex;
    flex-wrap: wrap;
    width: 98vw;
    padding: 0;

}

li {
    margin-top: 2vw;
    font-size: xxx-large;
    list-style-type: none;
    background-color: #983b45;
    border-radius: 10px;
    width: 98vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

h3, p {
    margin: 1vw;
}

.btn-up {
    position: fixed;
    cursor: pointer;
    bottom: 2vh;
    right: 10px;
    width: 100px;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.btn-up_hide {
    display: none;
}

.pic3 {
    width: 96vw;
}

.btn-up:hover {
    transform: translateY(-10px) rotateZ(360deg);
}