@font-face {
    font-family: montseral-f;
    src: url('/fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
    url('/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Montserrat-Thin.woff') format('woff'),
    url('/fonts/Montserrat-Thin.ttf') format('truetype');
    font-style: normal;
}

.start_page_container {
    max-width: 390px;
	
}
.start_page_inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    column-width: auto;
    padding-top: 15px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
p{
	text-align: center;
	
}
#start_img1{
    width: 100%;
    height: 100%;
}
#start_img2{
    width: 100%;
    height: 100%;
}
.items {
    text-align: center;
}
header {
    max-width: 390px;
    padding-top: 10px;
    padding-bottom: 10px;
}