body {
    margin: 0;
    padding: 0;
    font-size: 18px;
	/*color: #fff;*/
	/*background: #282828;*/
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}
.container {
	max-width: 390px;
}
.inner{
	display: grid;
	grid-template-columns: 1fr;
	position: center;
}
p{
	margin: 5px;
	font-weight: bold;
}
.discription {
	font-size: 16px;
}

.img {
	border-radius: 5px ;
	width: 300px;
}

.item {
	margin: 10px;
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 3px 30px;
	border: none;
	background: rgb(0, 255, 0);
	border-radius: 10px;
	color: black;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	transition: background .2s linear;
}
.min_btn{
	display: inline-block;
	padding: 3px 30px;
	border: none;
	background: rgb(248, 10, 0);
	border-radius: 10px;
	color: black;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}
.btn:hover {
	background: lightgreen;
}

h2{
	margin: 0;
}
#clear_storage{
	display: inline-block;
	padding: 5px 40px;
	border: none;
	background: rgb(248, 10, 0);
	border-radius: 10px;
	color: black;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	transition: background .2s linear;
}
/*var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)*/
