@font-face {
    font-family: montseral-f;
    src: url('/fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
    url('/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Montserrat-Thin.woff') format('woff'),
    url('/fonts/Montserrat-Thin.ttf') format('truetype');

    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 100;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    font-family: montseral-f, sans-serif;
    font-variant: small-caps;
    /*font-family: "Avenir Next", sans-serif;*/
    /*font-variant: small-caps;*/
    /*font-weight: lighter;*/
}

.container {
    max-width: 390px;
}

.inner {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    position: center;
}

p {
    margin: 5px;
}

.blur {
    color: black;
    filter: blur(2px);
}

.pic {
    position: relative;
    text-align: center;
    color: white;
    overflow: hidden;
}

.img {
    border-radius: 10px;
    width: 300px;
    transition: filter 0.5s linear;

}

.disc1 {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    bottom: 0;
    margin-bottom: 5px;
    top: auto;
    left: 50%;

    transform: translate(-50%, 0%);
    transition: filter 0.5s linear;
}

.disc2 {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    background-size: 200%;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    bottom: 0;
    margin-bottom: 5px;
    top: auto;
    left: 50%;
    font-size: 14px;
    transform: translate(-50%, 0%);
    transition: filter 0.5s linear;
}

.disc3 {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    background-size: 200%;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    bottom: 0;
    margin-bottom: 5px;
    top: auto;
    left: 50%;

    transform: translate(-50%, 0%);
    transition: filter 0.5s linear;
}

.disc4 {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    background-size: 200%;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    bottom: 0;
    margin-bottom: 5px;
    top: auto;
    left: 50%;
    font-size: 14px;
    transform: translate(-50%, 0%);
    transition: filter 0.5s linear;
}

.disc5 {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    background-size: 200%;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    bottom: 0;
    margin-bottom: 5px;
    top: auto;
    left: 50%;
    font-size: 14px;
    transform: translate(-50%, 0%);
    transition: filter 0.5s linear;
}

.disc6 {
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 10px;
    position: absolute;
    width: 300px;
    bottom: 0;
    margin-bottom: 5px;
    top: auto;
    left: 50%;
    font-size: 14px;
    transform: translate(-50%, 0%);
    transition: filter 0.5s linear;
}

.candles_discription {
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.opacity {
    filter: opacity(0);

}

.item {
    margin: 10px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 3px 30px;
    border: none;
    background: #63a369;
    border-radius: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    transition: background .2s linear;
}

.min_btn {
    display: inline-block;
    padding: 3px 30px;
    border: none;
    background: #ea4e74;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
    transition: background .2s linear;
}

.min_btn:hover {
    background: lightcoral;
}

.btn:hover {
    background: lightgreen;
}

h2 {
    font-size: 18px;
    margin: 0;
}
